<h1 class="searchBarHeader">Did you just NOMNOM? Find your food here!</h1>
<div class="searchBar">
  <form action="/profile/<%= id %>/food/search" method="get">
    <label for="search"></label>
    <input type="search" name="item_name"/>
    <button type="submit">Search</button>
  </form>
</div>
