<form action="/new" method="post">
<div>
  <label for="signUp">Sign Up!</label>
  <input type="text" name="signUp">
</div>

<div>
  <label for="password">password</label>
  <input type="password" name="password">
</div>

<input type="submit" value="submit">
