<!DOCTYPE html>
<html lang="en">
<head>
  <div class="home">
    <h1>Welcome to Nomnom!</h1>
    <% include ../partials/head %>
    <a href="/users/new">Sign Up</a>
    <a href="users/login">Login</a>
    <div class="intro">
      <p>
        If your goal is to lose or gain weight, then sign up or log back in and lets get started!
      </p>
    </div>
  </div>
</head>
<body>
</body>
</html>
