<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<h1>SIGN UP PAGE!</h1>
<body>
  <form action="/users" method="post">
    <div>
      <label for="email">username</label>
      <input type="text" name="email">
    </div>

    <div>
      <label for="password">password</label>
      <input type="password" name="password">
    </div>

    <input type="submit" value="submit">
  </form>
</body>
</html>
