
  <div  class="navContainer">
    <ul class="navbar">
      <li class="nav"><a href="/profile/<%= id %>" style="text-decoration:none">Profile</a></li>
      <li class="nav"><a href='/profile/<%= id %>/food' style="text-decoration:none">Food Search</a></li>
      <li class="nav"><a href='/profile/<%= id %>/programs/edit' style="text-decoration:none">Programs</a></li>
    </ul>
  </div>
