<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <% include ../partials/logout %>
</head>
<header>
    <% include ../partials/nav %>
</header>
<body>
    <% include ../partials/search %>
</body>
</html>
